<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accept Order</title>
	<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>

<body>
<h2 class="card-title large-title">接單</h2>
<a href="/" class="common-button">Logout</a>
<hr>

<table>
    <thead>
        <tr>
            <th>商家</th>
            <th>內容</th>
			<th>總金額</th>
            <th>顧客地址</th>
        </tr>
    </thead>
	
    <tbody>
        {% for item in data %}
        <tr>
			<td>{{    }}</td>
            <td>{{    }}</td>
			<td>{{    }}</td>
            <td>{{    }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>

{% for item in data %}
    <div class="menu-row">
		<form method="POST" action="/    " style="display: inline;">
            <input type="hidden" name="menu" value="{{    }}">
            <input type="hidden" name="price" value="{{    }}">
			<input type="hidden" name="menu" value="{{    }}">
            <input type="hidden" name="price" value="{{    }}">
            <button type="submit">接受</button>
        </form>
		<form method="POST" action="/    " style="display: inline;">
            <input type="hidden" name="menu" value="{{    }}">
            <input type="hidden" name="price" value="{{    }}">
			<input type="hidden" name="menu" value="{{    }}">
            <input type="hidden" name="price" value="{{    }}">
            <button type="submit">拒絕</button>
        </form>
    </div>
{% endfor %}
<br>

<div class="buttons">
    <a href="/deliveries/view_assigned_orders" class="common-button">查看目前訂單</a>
</div>
</body>
</html>