<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assigned Order</title>
	<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>

<body>
<h2 class="card-title large-title">已接訂單</h2>
<a href="/logout" class="common-button">Logout</a>
<hr>

<table>
    <thead>
        <tr>
            <th>訂單ID</th>
            <th>商家</th>
            <th>商家地址</th>
            <th>顧客姓名</th>
            <th>配送地址</th>
            <th>總金額</th>
            <th>狀態</th>
            <th>確認送達</th>
        </tr>
    </thead>
	
    <tbody>
        {% for item in data %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.merchant_name }}</td>
            <td>{{ item.merchant_location }}</td>
            <td>{{ item.customer_name }}</td>
            <td>{{ item.delivery_address }}</td>
            <td>{{ item.total_price }}</td>
            <td>{{ item.status }}</td>
            <td>
                <form method="POST" action="{{ url_for('delivery_person.mark_order_delivered') }}">
                    <input type="hidden" name="order_id" value="{{ item.id }}">
                    <button type="submit">送達</button>
                </form>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<br>
<div class="buttons">
    <a href="{{ url_for('delivery_person.view_delivery_history') }}" class="common-button">查看歷史紀錄</a>
    <a href="{{ url_for('delivery_person.view_pending_orders') }}" class="common-button">前往接單</a>
</div>
</body>
</html>