<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Assigned Order</title>
	<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
    <script>
        // 狀態跟蹤器
        let pickedOrders;
    
        window.onload = function () {
            // 初始化已取貨的訂單集合
            pickedOrders = new Set();
        };
    
        // 標記訂單為已取貨
        function markAsPicked(button) {
            const orderId = button.parentElement.querySelector('input[name="order_id"]').value;
            pickedOrders.add(orderId); // 添加到已取貨集合
            alert("訂單已標記為取貨！");
        }
    
        
    </script>
    
</head>

<body>
<h2 class="card-title large-title">已接訂單</h2>
<a href="/logout" class="common-button">Logout</a>
<hr>

<table>
    <thead>
        <tr>
            <th>訂單ID</th>
            <th>商家</th>
            <th>商家地址</th>
            <th>顧客姓名</th>
            <th>配送地址</th>
            <th>總金額</th>
            <th>狀態</th>
            <th>確認送達</th>
        </tr>
    </thead>
	
    <tbody>
        {% for item in data %}
        <tr>
            <td>{{ item.id }}</td>
            <td>{{ item.merchant_name }}</td>
            <td>{{ item.merchant_location }}</td>
            <td>{{ item.customer_name }}</td>
            <td>{{ item.delivery_address }}</td>
            <td>{{ item.total_price }}</td>
            <td>{{ item.status }}</td>
            <td>
                <div style="display: inline-block;">
                    <!-- 取貨按鈕 -->
                    <form method="POST" action="{{ url_for('delivery_person.mark_order_pick') }}" style="display: inline-block;">
                        <input type="hidden" name="order_id" value="{{ item.id }}">
                        <button type="submit" onclick="markAsPicked(this)">取貨</button>
                    </form>
                    
                    <!-- 送達按鈕 -->
                    <form method="POST" action="{{ url_for('delivery_person.mark_order_delivered') }}" style="display: inline-block;">
                        <input type="hidden" name="order_id" value="{{ item.id }}">
                        <button type="submit" 
                            onclick="checkPickupStatus(event, this)" 
                            {% if item.status != '正在配送' %}disabled{% endif %}>
                        送達
                    </form>
                </div>
                                
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<br>
<div class="buttons">
    <a href="{{ url_for('delivery_person.view_delivery_history') }}" class="common-button">查看歷史紀錄</a>
    <a href="{{ url_for('delivery_person.view_pending_orders') }}" class="common-button">前往接單</a>
</div>
</body>
</html>