<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delivery history</title>
	<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>

<body>
<h2 class="card-title large-title">歷史紀錄</h2>
<a href="/" class="common-button">Logout</a>
<hr>

<table width="400">
    <thead>
        <td>日期</td>
		<td>商家</td>
		<td>客戶</td>
		<td>總金額</td>
		<td>顧客地址</td>
		<td>外送員評分</td>
    </thead>
    {% for item in data %}
    <tr>
        <td>{{item.created_at}}</td>
		<td>{{item.merchant_id}}</td>
		<td>{{item.customer_id}}</td>
		<td>{{item.total_price}}</td>
		<td>{{item.delivery_address}}</td>
    </tr>
    {% endfor %}
</table>
<br>	
	
<div class="buttons">
    <a href="/deliveries/assigned_orders" class="common-button">返回</a>
</div>
</body>
</html>