<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delivery history</title>
	<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>

<body>
<h2 class="card-title large-title">歷史紀錄</h2>
<hr>

<table width="400">
    <thead>
        <td>日期</td>
		<td>商家</td>
		<td>內容</td>
		<td>總金額</td>
		<td>顧客地址</td>
		<td>外送員評分</td>
    </thead>
    {% for record in records %}
    <tr>
        <td>{{ }}</td>
		<td>{{ }}</td>
		<td>{{ }}</td>
		<td>{{ }}</td>
		<td>{{ }}</td>
		<td>{{ }}</td>
    </tr>
    {% endfor %}
</table>
<br>

<a href="/assigned_order">
    <button type="button">回到目前訂單</button></a>
	
	
	<div class="buttons">
    <button type="submit" class="common-button">註冊</button>
    <a href="/choose_identity" class="common-button">取消</a>
</div>
</body>
</html>