<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delivery Register</title>
	<style>
        button{
            padding:5px 10px;
            background-color:#5599FF;
            color:white;
            border:none;
            cursor:pointer;
        }
        button:hover{
            background-color:#0056b3;
        }
    </style>
</head>

<body>
<p><b>外送員註冊</b></p>
<hr>

<form method="POST" action="/delivery_register">

姓名: <input type="text" name="name"> <br>
帳號: <input type="text" name="username"> <br>
密碼: <input type="password" name="password" ><br>

<a href='/delivery_login'>
    <button type='botton'>註冊</button></a>
</form>

</body>
</html>