<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Item</title>
	<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>

<body>
<h2 class="card-title large-title">新增品項</h2>
<a href="/" class="common-button">Logout</a>
<hr>

<form method="POST" action="/merchants/menu/add" style="display: inline;">

    <div>
        <label for="newname">品項:</label>
        <input type="text" id="newname" name="newname" placeholder="請輸入品項" value="" required>
    </div>
     <div>
        <label for="newdescription">內容:</label>
        <input type="text" id="newdescription" name="newdescription" placeholder="請輸入內容" value="" required>
    </div>
    <div>
        <label for="newprice">金額:</label>
        <input type="number" name="newprice" placeholder="請輸入金額" value="" min="0" required>
    </div>
    
	<input type="hidden" name="oldname" value="">
    <input type="hidden" name="oldcontent" value="">
    <input type="hidden" name="oldprice" value="">

    <div style="margin-top: 10px;">
        <button type="submit" class="common-button">新增</button>
        <a href="/merchants/menu" class="common-button">回上一頁</a>
    </div>
</form>
</body>
</html>