<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Item</title>
	<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>

<body>
<h2 class="card-title large-title">編輯品項</h2>
<a href="/" class="common-button">Logout</a>
<hr>

<form method="POST" action="/merchants/menu/edit">
    <input type="text" name="id" value="{{item.id}}">
	<div>
        <label for="newname">品項:</label>
        <input type="text" id="newname" name="newname" placeholder="請輸入新的品項" value="{{item.name}}" required>
    </div>
     <div>
        <label for="newdescription">內容:</label>
        <input type="text" id="newdescription" name="newdescription" placeholder="請輸入新的內容" value="{{item.description}}" required>
    </div>
    <div>
        <label for="newprice">金額:</label>
        <input type="number" name="newprice" placeholder="請輸入新的金額" value="{{item.price}}" min="0" required>
    </div>

    <div style="margin-top: 10px;">
        <button type="submit" class="common-button">確定</button>
        <a href="/merchants/menu" class="common-button">取消</a>
    </div>
</form>
</body>
</html>