<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Manage Menu</title>
	<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>

<body>
<h2 class="card-title large-title">我的菜單</h2>
<a href="/" class="common-button">Logout</a>
<hr>
<p><b>{{merchant_id}}</b></p>

<table>
    <thead>
        <tr>
            <th>品項</th>
			<th>內容</th>
			<th>數量</th>
            <th>總金額</th>
			<th>操作</th>
        </tr>
    </thead>
	
    <tbody>
        {% for orderitem in menu_items %}
        <tr>
			<td>{{orderitem.name}}</td>
			<td>{{orderitem.description}}</td>
			<td>{{orderitem.quantity}}</td>
            <td style="width: 100px;">{{orderitem.price}}</td>
			<td>
			    <form method="POST" action="/merchants/menu/edit" style="display: inline;">
                    <input type="" name="id" value="{{orderitem.id}}">
                    <button type="submit">編輯</button>
	            </form>
		        <form method="POST" action="/merchants/menu/delete" style="display: inline;">
                    <input type="" name="id" value="{{orderitem.id}}">
                    <button type="submit">刪除</button>
                </form>
			</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>

<div>
    <a href="/merchants/view_merchant_orders" class="common-button">查看目前訂單</a>
    <a href="/merchants/newadd" class="common-button">新增品項</a>
</div>
</body>
</html>