<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Merchant Login</title>
	<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>

<body>
<h2 class="card-title large-title">登入</h2>
<hr>
<p><b>目前的登入身分為商家</b></p>

<form method="POST" action="/merchants/view_menu">
帳號: <input type="text" name="username"> <br>
密碼: <input type="password" name="password" ><br>
<br>
<div class="buttons">
    <button type="submit" class="common-button">登入</button>
    <a href="/" class="common-button">取消</a>
</div>
</form>
</body>
</html>