<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order List</title>
	<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>

<body>
<h2 class="card-title large-title">目前訂單</h2>
<a href="/logout" class="common-button">Logout</a>
<hr>
<p><b>{{merchant_id}}</b></p>

<table>
    <thead>
        <tr>
            <th>訂單編號</th>
            <th>品項名稱</th>
            <th>單品數量</th>
            <th>單品總價</th>
            <th>顧客編號</th>
        </tr>
    </thead>
	
    <tbody>
        {% for item in data %}
        <tr>
            {% if item.rowspan %}
                <td rowspan="{{ item.rowspan }}">{{ item.order_id }}</td>
            {% endif %}
			<td>{{item.menu_item_name}}</td>
            <td>{{item.quantity}}</td>
			<td style="width: 100px;">{{item.item_total_price}}</td>
            {% if item.rowspan %}
			    <td style="width: 100px;">{{item.customer_id}}</td>
            {% endif %}
            {% if item.rowspan %}
			    <td style="width: 100px;">{{item.status}}</td>
            {% endif %}            
			<td>
                {% if item.rowspan %}
                    <form method="POST" action="/merchants/orders/accept">
                        <input type="" name="order_id" value="{{item.order_id}}">
                        <button type="submit" class="complete-btn">接單</button>
                    </form>
                {% endif %}
			</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>

<div>
    <a href="/merchants/menu" class="common-button">管理菜單</a>
</div>
</body>
</html>