<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order List</title>
	<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>

<body>
<h2 class="card-title large-title">目前訂單</h2>
<a href="/" class="common-button">Logout</a>
<hr>
<p><b>{{merchant_id}}</b></p>

<table>
    <thead>
        <tr>
            <th>ID:</th>
            <th>品項</th>
            <th>總金額</th>
			<th>顧客</th>
			<th>操作</th>
        </tr>
    </thead>
	
    <tbody>
        {% for item in data %}
        <tr>
            
            <td>{{item.order_id}}</td>
			<td>{{item.menu_item_name}}</td>
			<td style="width: 100px;">{{item.item_total_price}}</td>
			<td style="width: 100px;">{{item.customer_id}}</td>
			<td>
			    <form method="POST" action="/merchant/      ">
                    <input type="hidden" name="order_id" value="{{item.order_id}}">
                    <button type="submit" class="complete-btn">完成</button>
                </form>
			</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>

<div>
    <a href="/merchants/menu" class="common-button">管理菜單</a>
</div>
</body>
</html>