.common-button{
        padding:6px 12px;
        background-color:#33CCFF;
        color:white;
        border:none;
        cursor:pointer;
		text-align:center;
		font-size: 16px;
		border-radius:4px;
		text-decoration:none;
         display:inline-block;
		line-height:1.0;
    }
.common-button:hover{
    background-color:#0056b3;
    }
table{
        width:80%;
        border-collapse:collapse;
    }
    th, td{
        border:1px solid #ddd;
        padding:8px;
        text-align:left;
    }
    th {
        background-color:#CCEEFF;
    }
rating{
        margin:10px 0;
    }
    .rating label{
        margin-right:5px;
    }