<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Browse Merchant</title>
</head>

<body>
<p><b>瀏覽商家</b></p>
<hr>
<p><b>{{customer.id}} {{customer.username}}</b></p>

{% for record in data %}
<tr>
    <td>
        <form method="GET" action="/browse_merchant">
            <input type="hidden" name="username" value="{{merchant.username}}">
        </form>
    </td>
	
	<td><a href='/browse_menu'>
	    <button type='botton'>查看</button></a>
	</td>
</tr>

{% endfor %}
</form>
</body>
</html>