<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Browse Merchant</title>
	<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>

<body>
<h2 class="card-title large-title">瀏覽商家</h2>
<a href="/" class="common-button">Logout</a>
<hr>
<p><b>{{customer_id}}</b></p>

<table>
    <thead>
        <tr>
            <th>商家id</th>
            <th>店名</th>
            <th>操作</th>
        </tr>
    </thead>
	
    <tbody>
        {% for merchant in items %}
            <tr>
			    <td style="width: 100px;">{{merchant.id}}</td>
                <td>{{merchant.name}}</td>
				<td style="width: 100px;">
					<div class="buttons">
                        <a href="/customers/menu?merchant_id={{merchant.id}}" class="common-button">查看菜單</a>
                    </div>
				</td>
            </tr>
        {% endfor %}
    </tbody>
</table>
<div class="buttons">
    <a href="/customers/history" class="common-button">查看歷史紀錄</a>
    <a href="/customers/cart" class="common-button">前往購物車</a>
</div>
</body>
</html>