<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Browse Menu</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>

<body>
<h2 class="card-title large-title">{{merchant.name}}</h2>
<hr>

<table>
    <thead>
        <tr>
		    <th>品項</th>
            <th>內容</th>
            <th>金額</th>
			<th>操作</th>
        </tr>
    </thead>
	
    <tbody>
        {% for menuitem in items %}
        <tr>
			<td style="width: 100px;">{{menuitem.name}}</td>
            <td>{{menuitem.description}}</td>
			<td style="width: 100px;">{{menuitem.price}}</td>
			<td style="width: 100px;">
			    <form method="POST" action="customers/      ">
				    {% csrf_token %}
                    <input type="hidden" name="name" value="{{menuitem.name}}">
					<input type="hidden" name="description" value="{{menuitem.description}}">
                    <input type="hidden" name="price" value="{{menuitem.price}}">
                    <button type="submit">加入購物車</button>
				</form>
			</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>

<div class="buttons">
    <a href="/customers/browse_merchant" class="common-button">取消</a>
	<a href="/customers/    " class="common-button">前往購物車</a>
</div>
</body>
</html>
