<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer Login</title>
	<style>
        button{
            padding:6px 12px;
            background-color:#33CCFF;
            color:white;
            border:none;
            cursor:pointer;
			text-align: center;
			border-radius: 4px;
        }
        button:hover{
            background-color:#0056b3;
        }
    </style>
</head>

<body>
<h2 class="card-title large-title">登入</h2>
<hr>
<p><b>目前的登入身分為顧客</b></p>

<form method="POST" action="/customers/index">
帳號: <input type="text" name="username"> <br>
密碼: <input type="password" name="password" ><br>
<br>

<a href='/customers/browse_merchants'>
    <button type='botton'>登入</button></a>
<a href='/choose_identity'>
    <button type='botton'>取消</button></a>
</form>

</body>
</html>