<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer History</title>
	<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>

<body>
<h2 class="card-title large-title">訂單歷史紀錄</h2>
<hr>

<table>
    <thead>
	    <tr>
            <th>日期</th>
	    	<th>商家</th>
	    	<th>內容</th>
			<th>數量</th>
		    <th>總金額</th>
	    	<th>商家評分</th>
	    	<th>外送員評分</th>
		</tr>
    </thead>
    
	<tbody>
	    {% for order in orders %}
        <tr>
            <td style="width: 50px;">{{order.date}}</td>
	    	<td>{{merchant.name}}</td>
			<td>{{merchant.description}}</td>
	    	<td style="width: 50px;">{{orderitem.quantity}}</td>
		    <td style="width: 50px;">{{order.total_price}}</td>
	    	<td style="width: 50px;">{{商家評分}}</td>
	    	<td style="width: 50px;">{{外送員評分}}</td>
        </tr>
		{% endfor %}
	</tbody>
</table>
<br>

<div>
    <a href="/customers/browse_merchant" class="common-button">回到首頁</a>
</div>
</body>
</html>