<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Customer History</title>
	<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>

<body>
<h2 class="card-title large-title">訂單歷史紀錄</h2>
<a href="/logout" class="common-button">Logout</a>
<hr>

<table>
    <thead>
	    <tr>
            <th>日期</th>
	    	<th>商家</th>
	    	<th>狀態</th>
		    <th>總金額</th>
	    	<th>商家評分</th>
	    	<th>外送員評分</th>
		</tr>
    </thead>
    
	<tbody>
	    {% for order in orders %}
        <tr>
            <td style="width: 50px;">{{order.created_at}}</td>
	    	<td>{{ order['merchant_id'] }}</td>
			<td>{{ order['status'] }}</td>
		    <td>{{ order['total_price'] }}</td>
	    	<td>{{ order['merchant_rating'] if order and order['merchant_rating'] is not none else '尚未評價' }}</td>
	    	<td>{{ order['delivery_rating'] if order and order['delivery_rating'] is not none else '尚未評價' }}</td>
			<td style="display: none;">{{ order['order_id'] }}</td>
			<td>
				{% if (order['merchant_rating'] is none) or (order['delivery_rating'] is none) %}
				<form method="GET" action="/customers/order/{{ order['order_id'] }}/view">
					<button type="submit">評價</button>
				</form>
				{% elif order['status']=='已送達' %}
				<form method="GET" action="/customers/order/{{ order['order_id'] }}/recive">
					<button type="submit">收貨</button>
				</form>
				{% endif %}
			</td>
        </tr>
		{% endfor %}
	</tbody>
</table>
<br>

<div>
    <a href="/customers/merchants" class="common-button">回到首頁</a>
</div>
</body>
</html>