<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Grade Your Order</title>
	<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>

<body>
<h2 class="card-title large-title">訂單評分</h2>
<a href="/logout" class="common-button">Logout</a>
<hr>
<p><b>本次訂單</b></p>

<table>
    <thead>
        <tr>
            <th>商家</th>
			<th>品項</th>
			<th>內容</th>
			<th>數量</th>
            <th>金額</th>
        </tr>
    </thead>
	
    <tbody>
        {% for menuitem in items %}
        <tr>
			<td style="width: 100px;">{{menitem.merchant_id}}</td>
			<td style="width: 100px;">{{menuitem.name}}</td>
            <td>{{menuitem.description}}</td>
			<td style="width: 50px;">{{orderitem.quantity}}</td>
			<td style="width: 100px;">{{menuitem.price}}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>

<form method="POST" action="customers/    ">
        <div class="rating">
            <label for="merchant-rating">商家評分(1-5):</label>
            <select id="merchant-rating" name="merchant_rating" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>

        <div class="rating">
            <label for="delivery-rating">外送員評分(1-5):</label>
            <select id="delivery-rating" name="delivery_rating" required>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
            </select>
        </div>
<br>
	
<div class="buttons">
    <a href="/customers/browse_merchant" class="common-button">送出評分</a>
</div>
</body>
</html>