<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Status</title>
	<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>

<body>
<h2 class="card-title large-title">訂單狀態</h2>
<a href="/" class="common-button">Logout</a>
<hr>

<script>
    async function fetchOrderStatus() {
        const response=await fetch('/customers/order_status'); //從後端獲取最新狀態
        const data=await response.json();
        return data.status; //假設後端返回{"status":"配送中"}
    }
        //每5秒刷新一次
        setInterval(updateOrderStatus,5000);
        //初始化頁面時立即執行一次更新
        updateOrderStatus();
</script>
<br>
	
<div class="buttons">
    <a href="/customers/feedback" class="common-button">前往評分</a>
</div>
</body>
</html>