<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Status</title>
	<style>
        button{
            padding:5px 10px;
            background-color:#5599FF;
            color:white;
            border:none;
            cursor:pointer;
        }
        button:hover{
            background-color:#0056b3;
        }
    </style>
</head>


<body>
<p><b>訂單狀態</b></p>
<hr>




<a href="/grade_order">
    <button type="button">前往評分</button></a>
</body>
</html>