<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Place Order</title>
	<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>

<body>
<h2 class="card-title large-title">購物車</h2>
<a href="/logout" class="common-button">Logout</a>
<hr>

<table>
    <thead>
        <tr>
            <th>商家</th>
			<th>品項</th>
			<th>數量</th>
            <th>Price</th>
            <th>金額</th>
			<th>操作</th>
        </tr>
    </thead>
	
    <tbody>
        {% for menuitem in items %}
        <tr>
			<td style="width: 100px;">{{menuitem.merchant_name}}</td>
			<td style="width: 100px;">{{menuitem.menuitem_name}}</td>
			<td style="width: 50px;">{{menuitem.quantity}}</td>
			<td style="width: 100px;">{{menuitem.price}}</td>
			<td style="width: 100px;">{{menuitem.total_price}}</td>
			<td>
			    <form method="POST" action="/customers/cart/remove">
			        <input type="hidden" name="id" value="{{menuitem.menuitem_id}}">
                    <button type="submit">刪除</button>
				</form>
			</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
<br>

<div class="address">
    <form method="POST" action="/customers/cart/place_order">
        <label for="address">配送地址：</label>
        <input type="text" id="address" name="address" placeholder="輸入配送地址" required style="width: 100%; max-width: 400px;">
        <button type="submit" class="common-button">送出訂單</button>
    </form>
</div>

<p>總金額：<span id="total-price">#</span>元</p>

<div class="buttons">
    <a href="/customers/merchants" class="common-button">回上一頁</a>
</div>
</body>
</html>