<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose identity</title>
	<link rel="stylesheet" href="{{url_for('static',filename='css/style.css')}}">
</head>

<body>
<h2 class="card-title large-title">Food Pangolin</h2>
<hr>

<p><b>選擇你的登入身分</b></p>
<div class="buttons">
    <a href="customers" class="common-button">顧客</a>
    <a href="merchants" class="common-button">商家</a>
    <a href="deliveries" class="common-button">外送員</a>
    <a href="manage" class="common-button">管理員</a>
</div>

<p><b>還沒有帳號</b></p>
<div class="button">
    <a href="customers/new" class="common-button">註冊顧客</a>
    <a href="merchants/new" class="common-button">註冊商家</a>
    <a href="deliveries/new" class="common-button">註冊外送員</a>
</div>
</body>
</html>