<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose identity</title>
	<style>
        button{
            padding:5px 10px;
            background-color:#5599FF;
            color:white;
            border:none;
            cursor:pointer;
        }
        button:hover{
            background-color:#0056b3;
        }
    </style>
</head>

<body>
<p><b>Food Pangolin</b></p>
<hr>
<p><b>選擇你的身分</b></p>

<a href='customers'>
    <button type='botton'>顧客</button></a>
<a href='merchants'>
    <button type='botton'>商家</button></a>
<a href='deliveries'>
    <button type='botton'>外送員</button></a><br>
<a href='/admin_login'>
    <button type='botton'>管理員</button></a><br>
<br>
	
<b>還沒有帳號</b>
<a href='customers/new'>
    <button type='botton'>顧客註冊</button></a>
<a href='merchants/new'>
    <button type='botton'>商家註冊</button></a>
<a href='deliveries/new'>
    <button type='botton'>外送員註冊</button></a>

</body>
</html>