<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose identity</title>
</head>

<body>
<p><b>Food Pangolin</b></p>
<hr>
<p><b>選擇你的身分</b></p>

<a href='/login_page'>
    <button type='botton'>顧客</button></a>
<a href='/login_page'>
    <button type='botton'>商家</button></a>
<a href='/login_page'>
    <button type='botton'>外送員</button></a><br>
<br>
	
<b>還沒有帳號</b>
<a href='/login_page'>
    <button type='botton'>顧客註冊</button></a>
<a href='/login_page'>
    <button type='botton'>商家註冊</button></a>
<a href='/login_page'>
    <button type='botton'>外送員註冊</button></a>

</body>
</html>